
	
#body {
height: 910px;
}


h1 {
	position: relative;

}


.container-fluid {
    position: relative;
    bottom: -5pc;
    height: 771px;

}
.choiceBox{
	border: 1px solid black;
    width: 2pc;
    position: relative;
    width: 20pc;
    height: 14pc;
} 

.chatBox {
	border: 1px solid black;
    position: relative;
    bottom: -2pc;
    width: 40pc;
    height: 20pc;
    left: 18pc;
}

.textBox {
	position: relative;
	width: 40pc;
	border: 1px solid black;
	bottom: -3pc;
	height: 2pc;
    left: 18pc;
}

#addEmployeeBtn {
    position: relative;
    left: 27pc;
    bottom: 33px;
}

#playerChoice1 {
    position: relative;
    top: -52px;
}


#playerChoice2 {
    position: relative;
    top: -5pc;
    left: 191px;
}

#result1 {
    position: relative;
    border: 1px solid;
    width: 118px;
    height: 51px;
    bottom: -6pc;
}

#result2 {
    position: relative;
    border: 1px solid;
    width: 118px;
    height: 51px;
    bottom: -45px;
    left: 200px;
}

#wins {
    font-size: 35px;
    position: relative;
    left: 6pc;
    top: -42px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 0px;
    height: 0px;
}


#wins2 {
    font-size: 35px;
    position: relative;
    left: 6pc;
    top: -42px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 0px;
    width: 0px;
}


#yea{
    margin-bottom: 0px;
    width: 0px;
}

#no {
        position: relative;
    top: 0pc;
    margin-bottom: 0px;
    margin-top: 20px;
}

#losses {
    height: 0px;
    width: 0px;
    font-size: 35px;
    position: relative;
    left: 132px;
    bottom: 42px;
}

#losses2 {
    font-size: 35px;
    position: relative;
    left: 8pc;
    bottom: 42px;
    width: 0px;
    height: 0px;
}


#notification {
    height: 0px;
    width: 336px;
    border-bottom-width: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 27px;
    bottom: -5pc;
    left: 2pc;
}

#rounds{
    font-size: 35px;
    height: 0px;
    width: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    bottom: -12px;
}

#ties {
    font-size: 35px;
     height: 0px;
    width: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    bottom: -62px;
}

#roundsNumber {
    position: relative;
    left: 10pc;
    font-size: 35px;
    top: 7px;
    height: 0px;
    width: 0px;
}

#tiesNumber {
     position: relative;
    font-size: 35px;
    left: 6pc;
    bottom: -56px;
    height: 0px;
    width: 0px;
}